<html>
<head>
    <title>Register</title>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" />
    <style>
      body{
        padding-top: 50px;
      }
      
    </style>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixes-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed"
        data-toggle="collapse" data-target="~navbar" aria-expanded="false"
        aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>

          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Movies</a>
        </div>
           <div id="navbar" class="collapse navbar-collapse">
           <ul class="nav navbar-nav">
             <li class="active"><a href="register">Register</a></li>
             <li><a href="login">Login</a></li>
            </ul>
            </div>
         </div>
       </nav>

        <div class="container">
             <h1>Register an Account</h1>
             <form class="modal-content" action="/register" method="POST">           
             <label for="usrname-s"><b>Username</b></label>
             <input type="username" placeholder="Username" name="usrname-s" required>
             <label for="pswrd-s"><b>Password</b></label>
             <input type="password" value="" name="pswrd-s" id="pswrd-s">
             <label for="email-s"><b>E-Mail Address</b></label>
             <input type="email" placeholder="Email"  name="email-s">
             
             <script>
              function registerFunction()
              {
                 var x = document.getElementById("psword-s");
                     if (x.type === "password")
                       {
                         x.type = "text";
                       }
                     else
                       {
                         x.type = "password";
                       }
              }
            </script>
            
            <div class="clear">
            <button type="submit" class="signupbtn">Sign Up</button>
            </div>
            </form>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>
</html>

